
body {
    font-family: 'Oswald', sans-serif;
    background-color: #e1f2ed;
    margin: 0;
    padding: 0;
    color: #212529;
}

div.ui-datepicker {
    font-size: 14.5px !important;
    background-color: #1a7182;
}

.ui-datepicker th {
    padding: 0.7em 0.3em;
    text-align: center;
    font-weight: bold;
    border: 0;
    background-color: #87E0E0;
}


.ui-datepicker-trigger,
.ui-datepicker-trigger img {
    height: 20px;
    width: 20px;
    border: none;
    width: fit-content;
    background-color: #f8f9fa;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
    background-color: #212529;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
    background-color: #23b8cf;
}

.inner-sec {
    display: flex;
}
.sidebar {
    background-color: #87E0E0;
    color: #55dd96;
    padding: 20px;
}

    .sidebar h1 {
        margin-bottom: 30px;
        color: #333333;
    }
/*.fulldiv{
    height:100vh;
}*/

.text-bg-info {
    background-color: #0dcaf0;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}


.nav-link {
    font-size: 16px;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .nav-link:hover {
        background-color: rgba(0, 31, 63, .6);
        color: white;
    }

/*.active {
    background-color: red;
}*/

.main-content {
    background-color: #E4E4E4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 2px -4px rgba(0, 0, 0, 0.2);
    background-color: #212529;
    background: #87E0E0 !important;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

    .btn-danger:hover {
        background-color: #c82333;
    }


@media (max-width: 768px) {
    .sidebar {
        padding: 15px;
    }

    .nav-link {
        font-size: 14px;
    }
}
