@model InwardPolicy.Models.UsermasterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <style>

        .logingrid {
            height: 100vh;
            width: 100%;
            align-content: center;
        }

        body {
            font-family: 'Oswald', sans-serif;
            background-color: #87E0E0;
        }

        .card {
            border-radius: 10px;
        }

        .card-body {
            padding: 2rem;
        }

        h3 {
            font-weight: bold;
        }

        .form-label {
            font-weight: 500;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                transition: background-color 0.3s;
            }

        #Heading {
            margin-bottom: 10%;
            background-color: #87E0E0;
            padding: 20px;
            transition: transform 0.3s;
        }

            #Heading:hover {
                transform: scale(1.05);
            }
    </style>



    <h1 id="Heading" class=" shadow  text-center mt-5 text-white">INWARD POLICY ENTRY SYSTEM</h1>
    <form id="form1" method="post" asp-action="CheckLogin">
        <div class="container d-flex justify-content-center">
            <div class="card shadow" style="width: 400px;">
                <div class="card-body">
                    <h3 class="text-center mb-4">Login</h3>
                    <div class="mb-3">
                        @Html.Label("txtUserName", "User Id:", new { @id = "lblUserName", @class = "form-label col-form-label mb-0" })
                        @Html.TextBoxFor(m => m.UserId, new { @id = "txtUserName", @maxlength = "12", @class = "form-control form-control" })
                    </div>
                    <div class="mb-3">
                        @Html.Label("txtPassword", "Password:", new { @id = "lblPassword", @class = "form-label col-form-label mb-0" })
                        @Html.PasswordFor(m => m.Password, new { @id = "txtPassword", @maxlength = "30", @class = "form-control form-control" })
                    </div>
                    <button ID="btnLogin" type="submit" class="btn btn-primary w-100">Login</button>
                </div>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


